html, body {
  font-size: 10px;
}

@keyframes toaster {
  0% {
    opacity: 0;
    border-radius: 5px;
    width: 20%;
    transform: translateY(5rem);
    background-color: white;
  }
  10% {
    border-radius: 5px;
    width: 20%;
    background-color: white;
    transform: translateY(4.8rem);
  }
  30% {
    opacity: 1;
    width: 20%;
    border-radius: 5px;
    transform: translateY(4.8rem);
    background-color: rgb(69, 253, 228);
  }
  60% {
    width: 20%;
    border-radius: 5px;
    transform: translateY(4.8rem);
    background-color: rgb(50, 191, 214);
  }
  70% {
    transform: translateY(4.8rem);
    background-color: rgb(69, 253, 228);
    width: 100%;
    border-radius: 0;
  }
  85% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}

#notification-toaster {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  width: 100%;
  height: 5.3rem;
  background-color: rgb(50, 191, 214);
  transform: translateY(5.3rem);
  transition: transform .2s;
}

#notification-toaster.toasty {
  animation-name: toaster;
  animation-duration: 2s;
}


#notification-toaster.displayed {
  transform: translateY(0rem);
}

.fadeTitle #toaster-title {
  opacity: 0;
}

.showDetail #toaster-detail {
  transition-delay: .3s;
  opacity: 1;
}

#toaster-icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0;
  bottom: 0;
  left: 1rem;
  margin: auto;
  pointer-events: none;
}

#notification-toaster > div {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5rem;
  width: calc(100% - 5.5rem);
  padding: 0;
  line-height: 1.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: opacity .2s;
}

#toaster-title {
  pointer-events: none;
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  height: 1.7rem;
}

#toaster-detail {
  pointer-events: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  height: 1.4rem;
  opacity: 0;
}

#notification-tray {
  position: absolute;
  bottom: calc(-100%);
  width: calc(100%);
  height: calc(100%);
  background-color: rgb(50, 191, 214);
  transition: transform .2s ease-in;
}

#notification-tray.no-transition {
  transition: none;
}

#notification-bar {
  height: 3rem;
  color: white;
}

#notification-bar span {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3rem;
}

#notification-bar span[hidden] {
  display: none;
}

#notification-bar button {
  float: right;
  margin-right: 1.5rem;
  width: 30%;
  height: 3rem;
  padding: 0;
  border: 0;
  background: none;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
}

#notification-bar button[disabled] {
  color: #556365;
}

/* remove ugly dotted outline when focus */
#notification-bar button::-moz-focus-inner {
  border: 0;
}

#notifications-container {
  width: 100%;

  /* minus cost control, quick setting and grippy */
  height: calc(100% - 4.5rem - 6rem - 2rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.notification {
  position: relative;
  height: 6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  background-color: rgba(0, 0, 0, 0.15);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-bottom: 0.1rem black rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.notification.no-transition {
  transition: none;
}


.notification:active {
  background-color: rgba(52,140,158, .6);
}

.notification:first-child {
  border-top-color: black;
}

.notification div {
  pointer-events: none;
}

.notification > div:first-of-type {
  width: calc(100% - 12rem);
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.notification > div {
  width: calc(100% - 6.5rem);
  margin-left: 5rem;
  color: #bfbfbf;
  font-size: 1.4rem;
  line-height: 1.9rem;
  min-height: 1.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification > .timestamp {
  position: absolute;
  top: -.2rem;
  right: 1.5rem;
  color: #52B6CC;
  margin-top: 1.3rem;
  padding: 0;
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification > img {
  float: left;
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 1.5rem 1rem;
  pointer-events: none;
}

.notification.disappearing,
#notification-toaster.disappearing {
  transition: transform 0.3s linear;
  transform: translateX(100%);
}

.notification.disappearing ~ .notification {
  transition: transform 0.3s linear;
  transform: translateY(-6.2rem);
}

#notifications-lockscreen-container {
  z-index: 1;
  position: absolute;
  top: 18rem;
  left: 0;
  width: 100%;
  max-height: 18.6rem;
  overflow-x: hidden;
  overflow-y: auto;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9),
                              rgba(0, 0, 0, 0.6) 78%,
                              rgba(0, 0, 0, 0));
  background-size: 100% 18.6rem;
}

#notifications-lockscreen-container .notification {
  background-color: transparent;
}

#notification-clear {
  color: white;
}

@keyframes fn-rotate {
  from {
    transform: rotate(1deg);
  }

  to {
    transform: rotate(360deg);
  }
}
