body {
  background-color: black;
  font-family: "Lucida Console", Monaco, monospace;
  color: green;
}

button {
  font-size: 30px;
}

.label {
  margin-bottom: 2px;
}

#log {
  border: 1px solid green;
  padding: 3px;
}

